body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161616;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  justify-content: space-around;
}
.block {
  background-color: rgba(244, 237, 237, 0.916);
  padding: 20px;
}
img {
  width: 500px;
  border-radius: 10px;
}
p,
h2 {
  display: flex;
  justify-content: center;
}
.cart-icon {
  width: 60px;
}
.categoryButtonSelected {
  background-color: rgb(16, 164, 16);
  border-radius: 6px;
  color: rgba(244, 237, 237, 0.916);
}
.categoryButton:hover {
  background-color: #fdeb6b;
  border-radius: 6px;
}
.categoryButtonSelected:hover {
  background-color: green;
  border-radius: 6px;
}
.categoryButton {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}
.icon {
  width: 20px;
}
.trash-icon {
  display: flex;
  justify-content: center;
}
p,
h2,
button {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
}
button {
  background-color: #fdeb6b;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border-style: none;
}
